<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>[*]EnterpriseScheduler.Migrations.*</Exclude>
          <ExcludeByFile>**/Program.cs</ExcludeByFile>
          <ExcludeByLine>src/EnterpriseScheduler/Models/Validation/ValidTimeZoneAttribute.cs:29,30,31,32</ExcludeByLine>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings> 